
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/ProjektMSI-Anova.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
__pycache__/AnovaSelector.cpython-39.pyc
